<!-- views/header.ejs -->

<br>
<table class="cls_title">
    <tr>
        <td>
            <img src="/img/nomos.png" /> 
        </td>
        <td>
            <h1>Start Application on your Mac<span id="version">Version 0.0.8</span</h1>
        </td>
    </tr>
    <tr><td></td><td>
        <ul>
            <li>Create your AppleScript and save it in "WebAppleScript/apple_script/"</li>
            <li>Reaload the browser and your AppleScript will be listed below</li>
            <li>Click on your AppleScript below and the AppleScript will be executed</li>
        </ul>
    </td></tr>
</table>


