<!-- views/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="/img/nomos.png" width="16px" /> Home
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">what ever</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</nav>


<table class="cls_title">
    <tr>
        <td>
            <img src="/img/nomos.png" /> 
        </td>
        <td>
                <h1>Start Application on your Mac<span id="version">Version 0.0.5</span</h1>
        </td>
    </tr>
    <tr><td></td><td>Click on a link to start the website in Safari</td></tr>
</table>
