<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head_orig %>
</head>
<body class="container">

    <header>
        <% include ./header_orig %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <footer>
        <% include ./footer_orig %>
    </footer>

</body>
</html>
