<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body>
    <header>
        <% include ./header %>
    </header>

    <main>
        <table>
            <tr><th>AppleScript</th><th>Link</th><th>Start</th></tr>

            <% for(let i = 0; i < posts.length; i++) { %>
                <tr>
                    <td><a href="" data-path="<%= posts[i] %>" class="js-xhr"><%= posts[i] %></a></td>
                    <td>http://<%= posts[i] %></td>
                    <td><button type="button">Execute</button></td>
                </tr>
            <% } %>
        </table>
    </main>

    <footer>
        <% include ./footer %>
    </footer>

</body>
    <script src="public/script.js"></script>
</html>
