<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./public/style.css" />
    <title>start application</title>
</head>
<body>
    <input id="ipt_ip" type="hidden" value="<%= vIp %>"</input>
    <input id="ipt_port" type="hidden" value="<%= vServerPort %>"</input>
    <div id= "div_main">
        <header>
         <br>
         <table class="cls_title">
            <tr>
                <td>
                    <img src="/img/nomos.png" /> 
                </td>
                <td>
                    <h1>WebAppleScript<span class="decent">Version 0.1.0</span</h1>
                </td>
            </tr>
            <tr><td></td><td>
                <ul>
                    <li>Create your AppleScript and save it in "WebAppleScript/apple_script/"</li>
                    <li>Reaload the browser and your AppleScript will be listed below</li>
                    <li>Click on your AppleScript below and the AppleScript will be executed</li>
                </ul>
            </td></tr>
        </table>
    </header>

    <main>
        <div class="div_list">
            <table class="tbl_list">
                <tr><th>AppleScript<div id="div_reload" title="Reload Directory"><img src="/img/reload.png"></div></th>
                    <th>Copy Link</th><th>Start</th>
                </tr>
            </table>
        </div>
    </main>

    <footer>
    </footer>
</div>
</body>
<script src="public/script.js"></script>
</html>
