body{
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.8);

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	background: #778899;
}
h1{
	color: #334455;
	padding:0;
	margin:0;
}
ul{
	padding: 1rem 0 0 1.8rem;
}
li{
	color: #445566;
}
a{
	color:#BBCCDD;
}
table th{
	color: #445566;
	text-align: left;
	padding: 0 0 0 1rem;
}
table td{
	padding: 0 0 0 1rem;
	valign:bottom;
	border: 1px #99AABB solid;
	border: none;
	color: #BBCCDD;
}
.cls_title img{
	width: 3em;
}

.decent{
	color: #445566;
	font-size: 1.3rem;
	padding-left: 1rem;
}
main{
	padding: 1rem;
}
button{
	font-size: 1.1rem;
	margin: .2rem;
	padding: .1rem .4rem;
	border-radius: .5rem;
	color: #445566;
}

@media screen and (max-width:560px) {
  /* CSS for screens that are 560 pixels or less will be put in this section */
 	table.tbl_list th:nth-child(1n+2){
 		display: none;
 	}
 	table.tbl_list td:nth-child(1n+2){
 		display: none;
 	}
 	table.tbl_list td:nth-child(1){
 		font-size: 2rem;
 	}
 	.decent{
 		display:none;
 	}
} 




