body{
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.8);

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	background: #778899;
}
#div_main{
	margin: 1rem 0;
	width: 860px;
	background: #AABBCC;
	border: 1px solid grey;
	border-radius: .4rem;
	margin-left: auto;
	margin-right: auto;
}
h1{
	color: #334455;
	padding:0;
	margin:0;
}
ul{
	padding: 1rem 0 0 1.8rem;
}
li{
	color: #445566;
}
.cls_title img{
	width: 3em;
}
.decent{
	color: #445566;
	font-size: 1.3rem;
	padding-left: 1rem;
}
a{
	color:#DDEEFF;
}
a:hover{
	color:#DDEEFF;
}
table th{
	color: #445566;
	text-align: left;
	padding: 0 0 0 1rem;
	font-size: 1.4rem;
}
table td{
	padding: 0 1rem 0 1rem;
	valign:bottom;
	border: 1px #99AABB solid;
	border: none;
	color: #DDEEFF;
	vertical-align: top;
}
.div_list{
	padding: .5rem;
	background: #99AABB;
	border: solid 1px grey;
	border-radius: .4rem;
	display: inline-flex;
}
#add_file{
	width: 1.4rem;
	cursor: pointer;
	margin-left: 1rem;
}
table.tbl_list .td_as:hover{
	cursor: pointer;
}
table.tbl_list{
	display: inline-flex;
}
table.tbl_list tr:nth-child(2n+2){
	background: #778899;
}
table.tbl_list tr:nth-child(2n+3){
	background: #667788;
}
table.tbl_list td:nth-child(1n+3){
	vertical-align: middle;
}
table.tbl_list tr:nth-child(1n+2):hover{
	background: #556677;
}
table.tbl_list td:nth-child(1n+4){
	background: #99AABB;
}
table.tbl_list td:nth-child(1n+4) img{
	width: 1.5rem;
	cursor: pointer;
}
#div_reload{
	display: inline-block;
	cursor: pointer;
	padding: 0 .7rem;
	margin: 0 0 .5rem 1rem;
	background: #99AABB;
	border: solid 1px #99AABB;
	border-radius: .4rem;
	box-shadow: 0px 0px 10px #99AABB;
}
#div_reload:hover{
	margin: 0 0 .5rem 1rem;
	background: #BBBBBB;
	border: solid 1px #99AABB;
	border-radius: .4rem;
	box-shadow: 0px 0px 10px #EEEEEE;
}
#div_reload img{
	width: 1.8rem;
}

main{
	padding: 1rem;
}
button{
	font-size: 1.1rem;
	margin: .1rem;
	padding: 0 .4rem;
	border-radius: .5rem;
	color: #445566;
	white-space: nowrap;
}
.cls_admin{					/* do not show components for EDIT-MODE per default */ 
	display:none;
}


@media screen and (max-width:860px) {
	body{
		background: #8899AA;
	}
	#div_main{
		background: #8899AA;
		width: 100%;
		border: none;
	}
}

@media screen and (max-width:560px) {
  /* CSS for screens that are 560 pixels or less will be put in this section */
 	table.tbl_list th:nth-child(1n+2){
 		display: none;
 	}
 	table.tbl_list td:nth-child(1n+2){
 		display: none;
 	}
 	table.tbl_list td:nth-child(1){
 		font-size: 2rem;
 	}
 	.decent{
 		display:none;
 	}
 	ul{
 		display:none;
 	}
} 




