
body{
    background:hsla(210,33%,20%,1);
}
@media screen and (max-width:1024px){
    body{
        background:hsla(120,20%,83%,1);
        padding:0;
        margin:0;
        font-size:16px;
    }
}
h1, h2, h3, h4, p{
    font-family:Verdana,Arial,Helvetica sans-serif;
    color:#5979A5;
    font-weight:normal;
    padding:0;
    margin:0;
    display:inline;
}

h1{ 
    font-size: 1.8em; 
    padding:.5rem; 
    background:hsla(120,20%,83%,0.9);
    border:solid 1px hsla(120,20%,83%,0.9);
    border-radius:.3em;
}
h2{ 
    font-size: 1.6em; 
    padding:.5rem; 
    background:hsla(120,20%,83%,0.9);
    border:solid 1px hsla(120,20%,83%,0.9);
    border-radius:.3em;
}
h3{ font-size: 1.4em; }
h4{ font-size: 1.2em; }
p{
    font-size: .9em;
    line-height:120%;
    padding:.2em 0 .3em 0;
    margin:0;
    color:#445544;
    display:block;
}



/*  =======================  HEADER  =====================  */


#div_header{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    background:hsla(120,20%,83%,1);
    width:1024px;
    height:7.4rem;
    margin-left:-512px;
    top:0.7rem;
    left:50%;
    position:fixed;
    padding:0;
    border:solid 1px hsla(120,20%,60%,1);
    border-radius:.3em;
    z-index:1;
}

#div_header table:first-child{
    padding:0;
    margin:0;
    width:100%;
}

#div_header table:first-child td:first-child{
    padding:1% 0 0 1%;
    width:15%;
}
#div_header_right img, #div_header_left img{
    width:40px;
}
#div_header table:first-child td:nth-child(2){
    text-align:center;
    width:70%;
}
#div_header table:first-child td:nth-child(3){
    text-align:right;
    padding:1% 1% 0 0;
    width:15%;
}
#div_header_left{
    cursor:pointer;
    border:solid 1px hsla(120,20%,83%,1);
    padding:.3em .7em;
    border-radius: .3em;
    float:left;
}
#div_header_right{
    cursor:pointer;
    border:solid 1px #CCDDCC;
    border:solid 1px hsla(120,20%,83%,1);
    padding:.3em .7em;
    float:right;
}
#div_header_left:hover, #div_header_right:hover{
    background:hsla(0,0%,85%,1);
    border:solid 1px hsla(0,0%,60%,1);
    border-radius: .3em;
    box-shadow:0 0 5px hsla(0,0%,50%,1);
}

@media screen and (max-width:1024px){
    #div_header{
        background:hsla(120,20%,83%,0);
        width:100%;
        left:0px;
        top:0px;
        margin:0px;
        padding:0;
        border:none;
        border-radius:0;
    }
    #div_header_left, #div_header_right{
        background: hsla(120,20%,83%,0.9);
        border:solid 1px hsla(120,20%,83%,0.9);
    }
}



/*  -----------  navigation  ---------------  */

#tbl_nav{
    /* height:3em; */
    text-align:center;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:-.5rem;
}
#tbl_nav td:nth-child(1), #tbl_nav td:nth-child(3){
    vertical-align:middle;
}
#tbl_nav img{
    padding:0 1em;
    width:24px;
    padding:.5rem; 
    background:hsla(120,20%,83%,0.9);
    border:solid 1px hsla(120,20%,83%,0.9);
    border-radius:.3em;
}
#tbl_nav #td_month{
    width:9rem;
    text-align:center;
    padding:0;
}




/*  ========================  END HEADER  =====================  */




/*  ==========  CONTENT  ==========  */

#div_content{
    position:fixed;
    top:9rem;
    bottom:0.7rem;
    left:50%;
    width:1024px;
    margin-left:-512px;
    background:#CCDDCC;
    background:hsla(120,20%,83%,1);
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    overflow:scroll;
    padding:.3em 1em;
    border:solid 1px hsla(120,20%,60%,1);
    border-radius:.3em; 
    overflow:auto;
}
@media screen and (max-width:1024px){
    #div_content{
        position:relative;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        background:hsla(120,20%,83%,1);
        top:5.5rem;
        width:100%;
        left:0%;
        bottom:0;
        margin:0;
        padding:1em;
        border:none;
        border-radius:0;
    }
}

@media screen and (max-width:680px){
    #div_content{
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        background:#CCDDCC;
        margin:0 auto;
        padding:.3em 1em;
   }
}


/*  ==========  TABLE LIST with 2 ICONS  at the end  =============  */

.cls_tbl_lst_2{
    border-collapse:collapse;
    font-family:Verdana,Arial,Helvetica sans-serif;
    font-weight:normal;
    font-size:.9em;
    margin:0;
}
.cls_tbl_lst_2 th{
    background:#CCDDCC;
    font-weight:bold;
    padding:.1em .8em .5em .3em;
    text-align:left;
    color:#5979A5;
}
.cls_tbl_lst_2 td{
    padding:.1em .8em .1em .3em;
    white-space:nowrap;
}
.cls_tbl_lst_2 tr{
    background:#FFEEDD;
    color:#445544;
    text-align:left;
    padding:.1em .4em;
    cursor:pointer;
}
.cls_tbl_lst_2 tr:nth-child(odd){
    background:#EEDDCC;
}
.cls_tbl_lst_2 tr td{
    border:solid 1px #AABBAA;
}
.cls_tbl_lst_2 tr td:nth-last-child(-1n+2){
    border:none;
    background:#CCDDCC;
    padding:0 0 0 1.2em;
    text-align:right;
}
.cls_tbl_lst_2 tr:hover{
    background:#998877;
    color:#FFEEDD;
}



/*  -------  FILE LIST  -------  */

#tbl_fil_lst{
    margin:0;
    border-collapse:collapse;
    font-family:Verdana,Arial,Helvetica sans-serif;
    font-weight:normal;
    font-size:.9em;
}
#tbl_fil_lst th{
    background:#CCDDCC;
    font-weight:bold;
    padding:.1em .8em .5em .3em;
    text-align:left;
    color:#5979A5;
}
#tbl_fil_lst td{
    padding:.1em .8em .1em .3em;
}
#tbl_fil_lst tr{
    background:#FFEEDD;
    color:#445544;
    font-size:.9em;
    text-align:left;
    padding:.1em .4em;
}
#tbl_fil_lst tr:nth-child(odd){
    background:#EEDDCC;
}
#tbl_fil_lst tr td{
    border:solid 1px #AABBAA;
}
#tbl_fil_lst tr td:nth-last-child(-1n+1){
    border:none;
    background:#CCDDCC;
    padding:0 0 0 1.2em;
    text-align:right;
}




/*  ==========  TABLE LIST with 1 ICONS  at the end  =============  */

.cls_tbl_lst_1{
    margin:0;
    border-collapse:collapse;
    font-family:Verdana,Arial,Helvetica sans-serif;
    font-weight:normal;
    font-size:.9em;
}
.cls_tbl_lst_1 th{
    background:#CCDDCC;
    font-weight:bold;
    padding:.1em .8em .5em .3em;
    text-align:left;
    color:#5979A5;
}
.cls_tbl_lst_1 td{
    padding:.1em .8em .1em .3em;
}
.cls_tbl_lst_1 tr{
    background:#FFEEDD;
    color:#445544;
    font-size:.9em;
    text-align:left;
    padding:.1em .4em;
    cursor:pointer;
}
.cls_tbl_lst_1 tr:nth-child(odd){
    background:#EEDDCC;
}
.cls_tbl_lst_1 tr td{
    border:solid 1px #AABBAA;
}
.cls_tbl_lst_1 tr:hover{
    background:#DDCCBB;
    color:red;
}
.cls_tbl_lst_1 tr td:nth-last-child(-1n+1){
    border:none;
    background:#CCDDCC;
    padding:0 0 0 1.2em;
    text-align:right;
}



/*  TABLE INPUT  */

.cls_tbl_input td{
    font-family:Verdana,Arial,Helvetica sans-serif;
    font-weight:normal;
    color:#445544;
    padding:.1em .8em .1em .3em;
    text-align:left;
    vertical-align:top;
} 
.cls_tbl_input input{
    font-family:Verdana,Arial,Helvetica sans-serif;
    font-weight:normal;
    color:#445544;
    width: 15em;
}
.cls_tbl_input textarea{
    font-family:Verdana,Arial,Helvetica sans-serif;
    font-weight:normal;
    font-size:.8em;
    color:#445544;
    height: 5em;
    width: 13em;
}

/*  TABLE IN TABLE INPUT  */

.cls_tbl_in_tbl{
    font-family:Verdana,Arial,Helvetica sans-serif;
    font-weight:normal;
    color:#445544;
    padding:0;
    margin:0;
    text-align:left;
    background:white;
    border-radius:.1em;
    font-size:.9em;
} 
.cls_tbl_in_tbl td{
    padding:.2em 0 0 0;
    margin:0;
} 


/*  TABLE 2 Columns to show  */

.cls_tbl_shw{
    border-collapse:collapse;
    font-family:Verdana,Arial,Helvetica sans-serif;
    font-weight:normal;
    font-size:.9em;
    max-width:30em;
}
.cls_tbl_shw td{
    padding:.1em .5em 0 .5em ;
    text-align:left;
    vertical-align:top;
    border:solid 1px #AAAAAA;
} 
.cls_tbl_shw td:first-child{
    text-align:right;
} 
.cls_tbl_shw tr{
    background:#FFEEDD;
    color:#445544;
}
.cls_tbl_shw tr:nth-child(odd){
    background:#EEDDCC;
}





/*  TABLE IN TABLE INPUT  */

.cls_tbl_in_tbl{
    padding:0;
    margin:0;
    text-align:left;
    background:white;
    border-radius:.1em;
} 
.cls_tbl_in_tbl td{
    padding:.2em 0 0 0;
    margin:0;
} 

/*  ---  TABLE INFORMATION  ---  */

#tbl_inf>tbody>tr:nth-child(odd){
    cursor:pointer;
}
#tbl_inf tr tr{
    cursor:normal;
}
#tbl_inf tr:nth-child(even) td > div {                    /* the div that will be expanded or shrinked  */
    background:#DDDDDD;
    height:0;
    border:1px solid #AAAAAA;
    border-radius:.3em;
    padding:.8em;
    margin-bottom:1em;
    display:none;
    overflow:hidden;
}

#tbl_inf_usr{                                           /* the table shows the user information */
    border-collapse:collapse;
    font-family:Verdana,Arial,Helvetica sans-serif;
    font-weight:normal;
    font-size:.9em;
    max-width:40em;
}
#tbl_inf_usr td{
    padding:.1em .5em 0 .5em ;
    text-align:left;
    vertical-align:top;
    border:solid 1px #AAAAAA;
} 
#tbl_inf_usr td:first-child{
    text-align:right;
    white-space:nowrap;
} 
#tbl_inf_usr tr{
    background:#FFEEDD;
    color:#445544;
}
#tbl_inf_usr tr:nth-child(odd){
    background:#EEDDCC;
}


/*  ---                     ---  */


.btn_hover{                         /* defines the look when mouse over */
    background:#EEDDCC;
    border:1px solid #EEDDCC;
    color:#332211;
}
.btn_click{                         /* button lock after click */
    background:#332211;
    border:1px solid #443322;
    border-radius:.3em;
    color:#BBAA99;
}

.cls_pointer{
    cursor:pointer;
}

.cls_wait{
    cursor:wait;
}

.cls_progress{
    width:100%;
}

.cls_edit{                      /* defines the icon to edit an element - with that class the edit mode can be activated and deactivated */
    display:none;
    cursor:pointer;
}






#div_modal_menu{                            /* used by application menu */
    position: fixed;                        /* Stay in place */
    z-index: 100;                           /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;                            /* Full width */
    height: 100%;                           /* Full height */
    overflow: auto;                         /* Enable scroll if needed */
    background-color: rgb(0,0,0);           /* Fallback color */
    background-color: hsla(0,0%,0%,0.4);    /* Black w/ opacity */
}
/*  =====  MENU  =====  */
#div_menu{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    background:hsla(0,0%,80%,0.8);
    border:solid 1px hsla(0,0%,45%,1);
    border-radius: .3em;
    overflow:hidden;
}
#div_menu ul{
    list-style:none;
    margin:0;
    padding:0;
}
#div_menu li{
    color:hsla(215,30%,50%,1);
    background:hsla(0,0%,87%,1);
    border:solid 1px hsla(0,0%,60%,1);
    border-radius: .3em;
    padding:.4em .7em;
    margin: .7em .7em;
}
#div_menu ul li img{
    vertical-align: middle;
    margin-right: 1.2em;
    width: 16px;
}
#div_menu ul li:hover{
    cursor:pointer;
    background:hsla(0,0%,97%,1);
    color:hsla(215,70%,50%,1);
    border:solid 1px hsla(0,0%,20%,0.3);
    box-shadow:0 0 7px hsla(0,0%,80%,1);
    box-shadow:0 0 5px hsla(240,40%,40%,1);
}
@media screen and (max-width:580px){
    #div_menu{
        /*background:hsla(180,14%,77%,1); */
        border:none;
        border-radius: none;
    }
}






#div_modal{
    position: fixed;                        /* Stay in place */
    z-index: 200;                           /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;                            /* Full width */
    height: 100%;                           /* Full height */
    overflow: auto;                         /* Enable scroll if needed */
    background-color: rgb(0,0,0);           /* Fallback color */
    background-color: hsla(0,0%,0%,0.4);    /* Black w/ opacity */
    display:none;
}
#div_modal button{
    margin: 1.6em 1em 0em 1em;
}
#div_modal #span_close{
    margin:-34px -12px;
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}
#div_modal #span_close:hover, #div_modal #span_close:focus {
    color: #555555;
    text-decoration: none;
    cursor: pointer;
}
#div_modal p{
    margin:0 0 .8em 0;
    padding:0;
}


/*  ----------  DIV MESSAGE  -----------  */
#div_msg{
    color:hsla( 210,33%,20%,1 );
    position: fixed;
    max-width:20rem;
    margin:0;
    padding: 30px 20px 20px 20px;
    background-color: hsla(0,0%,100%,1); /* Black w/ opacity */
    border: 1px solid hsla(0,0%,60%,1);
    border-radius:0.3em;
}
#div_msg h5{
    color:hsla( 210,33%,20%,1 );
    font-size: 1.2rem;
    text-align:center;
    padding:.5rem 0 1rem 0;
    margin:0;
}
#div_msg table, #div_msg h5{
    color:hsla( 210,33%,20%,1 );
}
#div_msg table td:nth-child(1){
    text-align:right;
    padding-right:.5rem; 
}


/*  ----------  DIV PROGRESS  -----------  */
#div_progress{
    -moz-box-sizing:border-box;
    margin: 20% auto;
    padding:0;
    background-color: hsla(0,0%,90%,0.9);
    border: 1px solid hsla(0,0%,50%,1);
    border-radius:.3em;
    width: 50%;
}
#div_progress_bar{
    -moz-box-sizing:border-box;
    text-align:center;
    font-size:1.4em;
    margin:0;
    padding:0;
    background:yellow;
    border-radius:.3em;
}



/*  ==========  INFORMATION  ==========  */
/*  ==========  INFORMATION  ==========  */
/*  ==========  INFORMATION  ==========  */


#global_tbl_info>tbody>tr:nth-child(odd)>td>img{                       /* image arrow_down and arrow_right */
    width:18px;
    margin:0 .4em 0 0;
}
#global_tbl_info>tbody>tr:nth-child(odd)>td>img:nth-child(2){          /* do not show the image arrow_down */
    display:none;
}
#global_tbl_info h3{
    margin:0;
}
#global_tbl_info tr td div{
    overflow:hidden;
    background-color:hsla(0,0%,85%,1);
    border:solid 1px hsla(0,0%,100%,1);
    border-radius:0.3em;
    padding:1em;
}
#global_tbl_info tr td div h4{
    color:hsla(215,30%,50%,1);
    font-size:1.2rem;
}
#global_tbl_info>tbody>tr:nth-child(even){                             /* the content of a specific info */
    display:none;
}
#global_tbl_info tr:nth-child(even) p{
    padding-left:0;
}
#global_tbl_info>tbody>tr:nth-child(odd){                              /* show pointer where the image and the title of the info */
    cursor:pointer;
}

#global_tbl_info .cls_info_language{                                   /* buttons to choose the language */
    display:block;
    min-width: 16em;
    text-align:left;
}
#global_tbl_info .cls_info_language:not(:last-child){                  /* the last child has NO margin-bottom */
    margin-bottom:.8rem;
}
#global_tbl_info .cls_info_language img {                              /* the left image in the button to choose a language */
    text-align:left;
    margin-right:1rem;
    width:20px;
}
#global_tbl_info .cls_info_language #img_ok{                           /* the image that shows the selected language */
    float:right;
    margin:0;
    padding:0;
    width:20px;
}



#global_tbl_info div, #global_tbl_info div p, #global_tbl_info table{
    color:hsla( 215,30%,40%,1 );
    font-size:.9rem;
}


/*  ==========  TABLE INFO SHORTCUT  ==========  */

#global_info_tbl_shortcut{                                           /* table info shortcut */
    border-collapse:collapse;
}
#global_info_tbl_shortcut tr{
    background:hsla(30, 100%, 93%, 1);
}
#global_info_tbl_shortcut tr:nth-child(odd){
    background:hsla(30, 50%, 87%, 1);
}
#global_info_tbl_shortcut td{
    padding:.1em .5em ;
    text-align:left;
    vertical-align:top;
    border:solid 1px hsla(0, 0%, 67%, 1);
}
#global_info_tbl_shortcut td:first-child{
    text-align:right;
    white-space:nowrap;
}



/*  ==========  INFO TABLE REPORT  =========  */
                                                                /*  report is the protocol about changes in programmcode */
#global_info_tbl_report{                                                    /* table content of application version  */
    border-collapse: collapse;
    font-size:.9rem;
}
#global_info_tbl_report .cls_root_icon{                                     /* do not show the root-icons to edit the websites */ 
    display:none;
}
#global_info_tbl_report th{
    text-align:left;
    padding:.3rem;
    cursor:pointer;
}
#global_info_tbl_report td{
    border:solid 1px hsla(0, 0%, 67%, 1);
    vertical-align:top;
    padding:.1em .5em ;
}
#global_info_tbl_report td:nth-child(n+2):not(:nth-child(6)) {
    cursor:pointer;
}
#global_info_tbl_report tr:nth-child(2n+2){
    background: hsla(30, 100%, 93%, 1);
}
#global_info_tbl_report tr:nth-child(2n+3){
    background: hsla(30, 50%, 87%, 1);
}
#global_info_tbl_report td:first-child{
    text-align:right;
}
#global_info_tbl_report td:nth-child(1n+2){
    text-align:left;
}
#global_info_tbl_report td:last-child, #global_info_tbl_report th:last-child{
    text-align:right;
    padding-left: 1rem;
    background: hsla(0,0%,84%,1);
    border:none;
}
#global_info_tbl_report img{
    width:17px;
}






/*  ========== USER INFO  ==========  */

#global_tbl_info_user{                                           /* the table shows the user information */
    border-collapse:collapse;
    font-weight:normal;
    max-width:40rem;
}
#global_tbl_info_user td{
    padding:.1em .5em ;
    text-align:left;
    vertical-align:top;
    border:solid 1px hsla(0, 0%, 67%, 1);
}
#global_tbl_info_user td:first-child{
    text-align:right;
    white-space:nowrap;
}
#global_tbl_info_user tr{
    background:hsla(30, 100%, 93%, 1);
}
#global_tbl_info_user tr:nth-child(odd){
    background:hsla(30, 50%, 87%, 1);
}


button{ 
    padding: .2rem 1rem;
    margin: 0;
    background: hsla(0,0%,90%,1);
    color: hsla(215,30%,50%,1);
    border: solid 1px hsla(0,0%,80%,1);
    border-radius: .5em;
    cursor: pointer;
    font-size: 1rem;
}
button:hover{
    background:hsla(0,0%,97%,1);
    color:hsla(215,70%,50%,1);
    border:solid 1px hsla(0,0%,20%,0.3);
    box-shadow:0 0 5px hsla(240,40%,40%,1);
}








/*   SCREEN FOR SMART PHONE   */

@media screen and (max-width:1024px){ 
    body{ font-size:14px;}
    #div_hdr{ padding:1rem; } 
    #div_hdr_rgt img{
        width: 3rem;
    }
}

@media screen and (max-width:640px){ 
    body{ font-size:14px; }
    #div_hdr{ padding:.4rem; } 
    #div_hdr_rgt, #div_hdr_rgt:hover{
        border:none;
        background:none;
    }
    #div_hdr_rgt img{
        width: 2.4rem;
    }
}
